[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-vividchalk"]
	path = home/.vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "home/.vim/bundle/vim-rooter"]
	path = home/.vim/bundle/vim-rooter
	url = http://github.com/airblade/vim-rooter.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-endwise"]
	path = home/.vim/bundle/vim-endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/vim-git"]
	path = home/.vim/bundle/vim-git
	url = http://github.com/tpope/vim-git.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/vim-bufexplorer"]
	path = home/.vim/bundle/vim-bufexplorer
	url = http://github.com/thisivan/vim-bufexplorer.git
[submodule "home/.vim/bundle/vim-snipmate"]
	path = home/.vim/bundle/vim-snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-cucumber"]
	path = home/.vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "home/.vim/bundle/vim-haml"]
	path = home/.vim/bundle/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "home/.vim/bundle/markdown"]
	path = home/.vim/bundle/markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/hammer"]
	path = home/.vim/bundle/hammer
	url = https://github.com/matthias-guenther/hammer.vim.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/neocomplcache"]
	path = home/.vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "home/.vim/bundle/vim-bundler"]
	path = home/.vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "home/.vim/bundle/gist"]
	path = home/.vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "home/.vim/bundle/notes"]
	path = home/.vim/bundle/notes
	url = https://github.com/xolox/vim-notes.git
[submodule "home/.vim/bundle/clojure"]
	path = home/.vim/bundle/clojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "home/.vim/bundle/FuzzyFinder"]
	path = home/.vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "home/.vim/bundle/L9"]
	path = home/.vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "home/.vim/bundle/textobj-user"]
	path = home/.vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "home/.vim/bundle/matchit"]
	path = home/.vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "home/.vim/bundle/textobj-rubyblock"]
	path = home/.vim/bundle/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "home/.vim/bundle/tslime"]
	path = home/.vim/bundle/tslime
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "home/.vim/bundle/turbux"]
	path = home/.vim/bundle/turbux
	url = https://github.com/jgdavey/vim-turbux.git
[submodule "home/.vim/bundle/Command-T"]
	path = home/.vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "home/.vim/bundle/ruby-refactoring"]
	path = home/.vim/bundle/ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
