[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-vividchalk"]
	path = home/.vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "home/.vim/bundle/vim-rooter"]
	path = home/.vim/bundle/vim-rooter
	url = http://github.com/airblade/vim-rooter.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-endwise"]
	path = home/.vim/bundle/vim-endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/vim-git"]
	path = home/.vim/bundle/vim-git
	url = http://github.com/tpope/vim-git.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/vim-bufexplorer"]
	path = home/.vim/bundle/vim-bufexplorer
	url = http://github.com/edsono/vim-bufexplorer.git
[submodule "home/.vim/bundle/vim-snipmate"]
	path = home/.vim/bundle/vim-snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-cucumber"]
	path = home/.vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "home/.vim/bundle/vim-haml"]
	path = home/.vim/bundle/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "home/.vim/bundle/markdown"]
	path = home/.vim/bundle/markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/hammer"]
	path = home/.vim/bundle/hammer
	url = https://github.com/robgleeson/hammer.vim.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/neocomplcache"]
	path = home/.vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "home/.vim/bundle/vim-bundler"]
	path = home/.vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "home/.vim/bundle/gist"]
	path = home/.vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
